@model List<Assignment11.Models.Department>

<h3 style="color:green">
    Employee Added Successfully
</h3>
<h4>Welcome, @TempData["EmployeeName"]</h4>
<h4>Department : @TempData["Department"]</h4>

<p>shows the information as shown in below</p>

<table border="1" cellpadding="8">
    <tr>
        <th>Department Name</th>
        <th>Department Head</th>
        <th>Department Head Contact</th>
        <th>Head Email ID</th>
    </tr>

    @foreach (var dept in Model)
    {
        <tr>
            <td>@dept.DeptName</td>
            <td>@dept.DeptHead</td>
            <td>@dept.DeptHeadContact</td>
            <td>@dept.HeadEmail</td>
        </tr>
    }
</table>
