@model Assignment11.Models.Employee

<div class="text-center">
    <h1 class="display-4">Employee Management System</h1>
</div>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <table>
        <tr>
            <td>Employee ID : </td>
            <td>@Html.TextBoxFor(m=>m.EmpId)@Html.ValidationMessageFor(m =>m.EmpId)</td>
        </tr>

        <tr>
            <td>Employee Name : </td>
            <td>@Html.TextBoxFor(m => m.EmpName)@Html.ValidationMessageFor(m => m.EmpName)</td>
        </tr>

        <tr>
            <td>Department : </td>
            <td>@Html.TextBoxFor(m => m.Department)@Html.ValidationMessageFor(m => m.Department)</td>
        </tr>

        <tr>
            <td>Salary : </td>
            <td>@Html.TextBoxFor(m => m.Salary)@Html.ValidationMessageFor(m => m.Salary)</td>
        </tr>

        <tr>
            <td>Email ID : </td>
            <td>@Html.TextBoxFor(m => m.Email)@Html.ValidationMessageFor(m => m.Email)</td>
        </tr>

        <tr>
            <td></td>
            <td><input type="Submit" value="Register" /></td>
        </tr>

    </table>
}
@if (ViewBag.Message != null)
{
    <h3 style="color :magenta">@ViewBag.Message</h3>
}

